.information{
    
    ul {
        #photo {
            padding: 20px;
        }
        #quote {
            padding: 20px;
        }
        //#sponsors {justify-content: center; width: 100%;}
    }
}