.stats {
    color: $navy;
    font-family: 'Titillium Web', sans-serif;
    margin: 0 5px 0;

    @include md {
        width: 100%;
    }

    li {
        padding: 3px;
        justify-content: center;
        p.solid {border-style: solid;}

    }
}

#orangeback {
    background: rgba($color: $orange, $alpha: 0.2)
}