/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"schedule"
		"hero"
		"covidalert "
		"articles"
		"stats"
		"information "
		"footer ";
}

.header{

grid-area: header;
	ul {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
	}
	a {
		display: grid;
	}
}

.hero {
	grid-area: hero;
	img{
		width: 100%;
	}
	ul {
		display: grid;
	}
	a {
		display: grid;
	}
	@include md {
		ul {
			grid-template-columns: repeat(5, 1fr);
		}
	}

}

.schedule {
	ul {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		align-items: space-between;
	}
}

.covidalert{
	grid-area: covidalert;
	display: grid;
	grid-template-columns: 80%;
	justify-content: center;
}

@include md {
.section-3 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	}
}

.articles {
	grid-area: articles;
	

	ul {
		display: grid;
	}

	@include md {
		grid-column: 2 / span 10;
		ul {
			grid-template-columns: span 10;
			grid-gap: 0px;
			justify-content: flex-start;
			grid-template-areas: 
			"articles";
			
		}
	}
}
.stats {
	grid-area: stats;
	ul {
		display: grid;
		@include md {
			grid-column: 1/span;
		}
	}
}

.information {
	grid-area: information;
	display: grid;
	grid-template-columns: 80%;
	justify-content: center;

	#sponsors {
		width: 100%;
	}

	@include md {
		ul {
			grid-template-columns: repeat(6, 1fr);

			.photo {
				grid-column: span 3;
			}
			.quote {
				grid-column: span 3;
			}
		}
	}
}

.footer {
	grid-area: footer;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 50px
	grid-template-areas ".logo .socials";

	.socials ul{
		display: flex;
	justify-content: flex-end;

	}
}