/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"covidalert "
		"articles"
		"stats"
		"information "
		"footer ";
}

.header{
	display: grid;
	grid-template-areas: "section div";
	grid-area: header;
	ul {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
	a {
		display: grid;
		color: $white;
	}
}

.hero {
	grid-area: hero;
	img{
		width: 100%;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
	a {
		display: grid;
	}

}

.schedule {
	ul {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		align-items: space-between;
	}
}

.covidalert{
	grid-area: covidalert;
	display: grid;
	grid-template-columns: 80%;
	justify-content: center;
}

@include md {
.section-3 {
	margin: 0px 40px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	}
}

.articles {
	grid-area: articles;
	

	ul {
		display: grid;
		grid-template-areas: 
		"article-1"
		"article-2"
		"article-3"
		"article-4"
		"article-5";
	}

	@include md {
		grid-column: 2/ span 10;
		ul {
			grid-template-columns: span 10;
			grid-gap: 0px;
			justify-content: flex-start;
			grid-template-areas: 
			"article-1"
			"article-2"
			"article-3"
			"article-4"
			"article-5";
			
		}

		#article-1{
			grid-area: article-1;
		}
		#article-2{
			grid-area: article-2;
		}
		#article-3{
			grid-area: article-3;
		}
		#article-4{
			grid-area: article-4;
		}
		#article-5{
			grid-area: article-5;
		}
	}
}
.stats {
	display: grid;
	grid-area: stats;
	ul {
		display: grid;
		@include md {
			grid-column: 1/span;
		}
	}

	#name{
		grid-area: name;
		justify-content: flex-start;
	}
	#number{
		grid-area: number;
		justify-content: flex-end;
	}
}

.information {
	grid-area: information;
	display: grid;
	grid-template-columns: 100%;
	justify-content: center;

	#sponsors {
		width: 100%;
	}
}

.footer {
	grid-area: footer;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 50px
	grid-template-areas ".logo .socials";

	.socials ul{
		display: flex;
	justify-content: flex-end;

	}
}