/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"covidalert"
		"articles"
		"stats"
		"information"
		"footer";
}

.header{

grid-area: header;
}
.hero {
	grid-area: hero;
	img{
		width: 100%;
	}
	ul {
		display: grid;
	}
	a {
		display: grid;
	}
	@include md {
		ul {
			grid-template-columns: repeat(12, 1 fr);
		}
	}

}

.covidalert{
	grid-area: covidalert;
	display: grid;
	grid-template-columns: 80%;
	justify-content: center;
}



.articles {
	grid-area: articles;

	ul {
		display: grid;
	}

	@include md {
		ul {
			grid-template-columns: 400px;
			grid-gap: 0px;
			justify-content: flex-start;
		}
	}
}


.footer {
	grid-area: footer;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 50px
	grid-template-areas ".logo .socials";

	.socials ul{
		display: flex;

	}
}