/* =============
    Header
============= */

header {
    background: $blue;
    padding: 10px;

    #burger-container {
        justify-content: flex-end;
        display: flex;
        padding: 10px;
        
        i{
            color: $white;
        }

        @include md {
            display: none;
        }
    }
}